<div>
    <div class="alert alert-danger" role="alert" ng-show="error_msg">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{error_msg}}
    </div>
    <div class="alert alert-success" role="alert" ng-show="success_msg">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{success_msg}}
    </div>
    <div ui-grid="gridOptions" ui-grid-resize-columns ui-grid-edit ui-grid-cellNav class="myGrid" external-scopes="gridScope"></div>
</div>
<style>
    .grid-user-status-pink{
        background-color: pink !important;
        height: 90%;
        width: 100%;
        gamm
    }
    .grid-user-status-red{
        background-color: red !important;
        height: 90%;
        width: 100%;
        color: white;
    }
    .grid-user-status-gray{
        background-color: gray !important;
        height: 90%;
        width: 100%;
        color: white;
    }
    .grid-user-status-green{
        background-color: green !important;
        height: 90%;
        width: 100%;
        color: white;
    }
</style>
