  <div class="jumbotron text-center">
    <h1>!Recupera tu Contraseña!</h1>
    <hr>

    <form name="userform" novalidate class="form-horizontal user-register-form">
      <fieldset>
        <div class="alert alert-danger" role="alert" ng-show="error_msg">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{error_msg}}
        </div>
        <div class="alert alert-success" role="alert" ng-show="success_msg">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{success_msg}}
        </div>

        <div class="form-group" ng-class="{ 'has-error' : validateField(userform.email) }">
            <label class="col-md-4 control-label" for="email">Correo Electrónico:</label>  
            <div class="col-md-4">
                <input ng-model="user.email" id="email" name="email" type="email" placeholder="Correo Electrónico" class="form-control input" required="">
            </div>
        </div>
         <div class="form-group">
            <label class="col-md-4 control-label" for="send"></label>
            <div class="col-md-4">
                <button id="send" name="send" class="btn btn-success" ng-click="save(userform)" ng-disabled="userform.$invalid">Envíar</button>
                <button id="cancel" name="cancel" class="btn btn-danger" ng-click="clear(userform)" ng-disabled="userform.$pristine">Reiniciar</button>
            </div>
        </div>
      </fieldset>
    </form>
  </div>
