<div class="jumbotron text-center">
    <h1>Empieza Ahora!</h1>
    <hr>

    <form name="userform" novalidate class="form-horizontal user-register-form">
        <fieldset>
            <div class="alert alert-danger" role="alert" ng-show="error_msg">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{error_msg}}
            </div>

            <div class="form-group" ng-class="{ 'has-error' : validateField(userform.username) }">
                <label class="col-md-4 control-label" for="username">Documento:</label>  
                <div class="col-md-4">
                    <input ng-model="user.username" id="username" name="username" type="text" placeholder="Documento" class="form-control input" required="">
                </div>
            </div>        
            <div class="form-group" ng-class="{ 'has-error' : validateField(userform.password) }">
                <label class="col-md-4 control-label" for="password">Contraseña:</label>  
                <div class="col-md-4">
                    <input ng-model="user.password" id="password" name="password" type="password" placeholder="Contraseña" class="form-control input" required="">
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : validateField(userform.password) }">
                <div class="col-md-8 pull-right">
                    ¿Olvidaste tu contraseña? <a href="#/forgotpassword">Recuperala!</a>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="send"></label>
                <div class="col-md-4">
                    <button id="send" name="send" class="btn btn-success" ng-click="save(userform)" ng-disabled="userform.$invalid">Envíar</button>
                    <button id="cancel" name="cancel" class="btn btn-danger" ng-click="clear(userform)" ng-disabled="userform.$pristine">Reiniciar</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
