<div class="jumbotron text-center">
    <h1>¡Unete Ahora Mismo!</h1>
    <hr>

    <form name="userform" novalidate class="form-horizontal user-register-form">
        <fieldset>
            <div class="alert alert-danger" role="alert" ng-show="error_msg">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{error_msg}}
            </div>

            <div class="form-group" ng-class="{ 'has-error' : validateField(userform.first_name) }">
                <label class="col-md-4 control-label" for="first_name">Nombres:</label>  
                <div class="col-md-4">
                    <input ng-model="user.first_name" id="first_name" name="first_name" type="text" placeholder="Nombres" class="form-control input" required="">                    
                </div>
                <span ng-show="validateField(userform.first_name)" class="glyphicon glyphicon-exclamation-sign pull-left" style="color:#a94442" aria-hidden="true"  data-toggle="tooltip" data-placement="top" title="Tu nombre es requerido"></span>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : validateField(userform.last_name) }">
                <label class="col-md-4 control-label" for="last_name">Apellidos:</label>  
                <div class="col-md-4">
                    <input ng-model="user.last_name" id="last_name" name="last_name" type="text" placeholder="Apellidos" class="form-control input" required="">
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : validateField(userform.username) }">
                <label class="col-md-4 control-label" for="username">Documento:</label>  
                <div class="col-md-4">
                    <input ng-model="user.username" id="username" name="username" type="text" placeholder="Documento" class="form-control input" required="">
                    <!--<p ng-show="validateField(userform.name)" class="help-block">Tu nombre es requerido.</p>-->
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : validateField(userform.email) }">
                <label class="col-md-4 control-label" for="email">Correo Electrónico:</label>  
                <div class="col-md-4">
                    <input ng-model="user.email" id="email" name="email" type="email" placeholder="Correo Electrónico" class="form-control input" required="">
                    <!--<p ng-show="validateField(userform.name)" class="help-block">Tu nombre es requerido.</p>-->
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : validateField(userform.password) }">
                <label class="col-md-4 control-label" for="password">Contraseña:</label>  
                <div class="col-md-4">
                    <input ng-model="user.password" id="password" name="password" type="password" placeholder="Contraseña" class="form-control input" required="">
                    <!--<p ng-show="validateField(userform.name)" class="help-block">Tu nombre es requerido.</p>-->
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : validateField(userform.password_confirmation) }">
                <label class="col-md-4 control-label" for="password_confirmation">Repita su Contraseña:</label>  
                <div class="col-md-4">
                    <input ng-model="user.password_confirmation" id="password_confirmation" name="password_confirmation" type="password" placeholder="Repita su Contraseña" class="form-control input" required="">
                    <!--<p ng-show="validateField(userform.name)" class="help-block">Tu nombre es requerido.</p>-->
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : validateField(userform.promoter) }">
                <label class="col-md-4 control-label" for="promoter">Promotor:</label>  
                <div class="col-md-4">
                    <span class="text-success">{{promoter_name}}</span>
                    <div class="input-group">
                        <input ng-model="promoter_document" id="promoter" name="promoter" type="text" placeholder="Promotor" class="form-control input" required="" ng-blur="searchPromoter(userform.promoter)">
                        <!--<input type="text" class="form-control" placeholder="Search for...">-->
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="searchPromoter(userform.promoter)">Buscar!</button>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group" ng-class="{ 'has-error' : validateField(userform.country) }">
                <label class="col-md-4 control-label" for="country">País</label>
                <div class="col-md-4">
                    <select id="region" name="country" class="form-control"  
                            ng-model="user.country_id" 
                            ng-options="c.id as c.name for c in countries" 
                            ng-change="getRegions(user.country_id)"
                            required>
                    </select>
                </div>
            </div>
            <!-- Select Basic -->
            <div class="form-group" ng-class="{ 'has-error' : validateField(userform.region) }">
                <label class="col-md-4 control-label" for="region">Departamento:</label>
                <div class="col-md-4">
                    <select id="region" name="region" class="form-control"  
                            ng-model="user.region_id" 
                            ng-options="r.id as r.name for r in regions" 
                            ng-change="getCities(user.region_id)"
                            required>
                        <!--<option value="">Departamento</option>-->
                    </select>
                </div>
            </div>
            <!-- Select Basic -->
            <div class="form-group" ng-class="{ 'has-error' : validateField(userform.city) }">
                <label class="col-md-4 control-label" for="city">Ciudad:</label>
                <div class="col-md-4">
                    <select id="city" name="city" class="form-control"
                            ng-model="user.city_id" 
                            ng-options="c.id as c.name for c in cities" 
                            key="id">
                        <!--<option value="">Ciudad</option>-->
                    </select>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : validateField(userform.district) }">
                <label class="col-md-4 control-label" for="district">Barrio:</label>  
                <div class="col-md-4">
                    <input ng-model="user.district" id="district" name="district" type="text" placeholder="Barrio" class="form-control input" required="">
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : validateField(userform.address) }">
                <label class="col-md-4 control-label" for="address">Dirección:</label>  
                <div class="col-md-4">
                    <input ng-model="user.address" id="address" name="address" type="text" placeholder="Dirección" class="form-control input" required="">
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : validateField(userform.phone) }">
                <label class="col-md-4 control-label" for="phone">Teléfono Fijo:</label>  
                <div class="col-md-4">
                    <input ng-model="user.phone" id="phone" name="phone" type="text" placeholder="Teléfono" class="form-control input" required="">
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : validateField(userform.celphone) }">
                <label class="col-md-4 control-label" for="celphone">Teléfono Celular:</label>  
                <div class="col-md-4">
                    <input ng-model="user.celphone" id="celphone" name="celphone" type="text" placeholder="Celular" class="form-control input" required="">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="send"></label>
                <div class="col-md-4">
                    <button id="send" name="send" class="btn btn-success" ng-click="save(userform)" ng-disabled="userform.$invalid">Envíar</button>
                    <button id="cancel" name="cancel" class="btn btn-danger" ng-click="clear(userform)" ng-disabled="userform.$pristine">Reiniciar</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<script>
                                                                                                                    $(function () {
                                                                                                                      $('[data-toggle="tooltip"]').tooltip()
                                                                                                                    })
</script>