<div class="alert alert-danger" role="alert" ng-show="error_msg">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{error_msg}}
</div>
<wizard on-finish="finishedWizard()" current-step="currentStep" style="position: relative" edit-mode="true"> 
    <wz-step title="Productos" canexit="canExitCatalog">
        <!--<h1>Li</h1>-->
        <div class="row">
            <div class="col-xs-4" ng-repeat="item in products">
                <div class="thumbnail">
                    <h3>{{ item.name}}</h3>
                    <!--<img ng-src="{{ imgDomain + item.id + '.jpg'}}">-->
                    <img ng-src="http://placehold.it/400x400&text={{item.name}}">
                    <p>{{ item.description}}</p>
                    <h3 class="price">{{ item.value | currency }}</h3>
                    <ngcart-addtocart id="{{ item.id}}"
                                      name="{{ item.name}}"
                                      price="{{ item.value}}"
                                      data="item"
                                      quantity="1"
                                      quantity-max="{{ item.stock}}">
                        Agregar al Carro
                    </ngcart-addtocart>
                </div>
            </div>  
        </div>
        <div class="row">
            <input type="submit" wz-next value="Continuar" class="btn btn-success btn-lg" style="position: absolute; bottom: 30px"/>
        </div>
    </wz-step>

    <wz-step title="Carrito" >
        <h1>Productos en el carrito de compras</h1>
        <div class="row">
            <ngcart-cart data="item"></ngcart-cart>
        </div>
        <div class="row" style="position: absolute; bottom: 30px">
            <input type="submit" wz-previous value="Volver" class="btn btn-danger btn-lg" />
            <input type="submit" wz-next value="Continuar" class="btn btn-success btn-lg" />
        </div>
    </wz-step>

    <wz-step title="Datos Envío" canenter="canExitSummary">
        <p>Datos para el envío</p>
        <div class="row" style="position: absolute; bottom: 30px">
            <input type="submit" wz-previous value="Volver" class="btn btn-danger btn-lg" />
            <input type="submit" wz-next value="Continuar" class="btn btn-success btn-lg" />
        </div>
    </wz-step>

    <wz-step title="Resumen" canenter="canExitSummary">
        <p>Resumen y confirmación de la compra</p>
        <div class="row" style="position: absolute; bottom: 30px">
            <input type="submit" wz-previous value="Volver" class="btn btn-danger btn-lg" />
            <input type="submit" wz-next value="Finalizar" class="btn btn-success btn-lg" />
        </div>
    </wz-step>
</wizard>

<style>
    .steps{
        height: 700px;
    }
</style>