<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-href="#/">
                <span class="glyphicon glyphicon-home"></span> UNENS
            </a>            
        </div>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li ng-class="{ active: isActive('/login')}" ng-show="isVisible('/login')"><a ng-href="#/login">Ingresa</a></li>
                <li ng-class="{ active: isActive('/register')}" ng-show="isVisible('/register')"><a ng-href="#/register">Registrate</a></li>
                <li ng-class="{ active: isActive('/admin-users')}" ng-show="isVisible('/admin-users')"><a ng-href="#/admin-users">Admin. Usuarios</a></li>
            </ul>
  
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a style="padding: 5px 0 0 0; width:150px" href="#/">
                        <ngcart-summary data="item"></ngcart-summary>
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" ng-show="getUsername()">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Hola {{getUsername()}} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-class="{ active: isActive('/edit-user')}" ng-show="isVisible('/edit-user')"><a ng-href="#/edit-user">Mis Datos</a></li>
                        <li ng-show="isVisible('/logout')"><a ng-href="#/logout">Salir</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>
